<section id="page-title" class="margin-bottom-20">
  <div class="row">
    <div class="col-sm-12">
      <ol class="breadcrumb">
      {% if breadcrumbs.tail %}
        <li><a href="{{ breadcrumbs.head.url }}">{{ breadcrumbs.head.name }}</a></li>
        {% for bc in breadcrumbs.list %}
          <li><a href="{{ bc.url }}">{{ bc.name }}</a></li>
        {% endfor %}
        <li class="active">{{ breadcrumbs.tail.name }}</li>
      {% else %}
        <li class="active">{{ breadcrumbs.head.name }}</li>
      {% endif %}
      </ol>
    </div>
  </div>
</section>