{% extends 'generics/base.html' %}

{% block title %}Detail{% endblock %}

{% block chart %}
{% load chartit %}
{{ chart|load_charts:"container" }}
{% endblock %}

{% block content %}
<div id="container">HERE.</div>
<h3>User Info</h3>
<dl>
  <dt>id</dt>
  <dd>{{user.id}}</dd>
  <dt>area</dt>
  <dd>{{user.area}}</dd>
  <dt>tariff</dt>
  <dd>{{user.tariff}}</dd>
</dl>
<h3>Cunsumption List</h3>
<table class="table table-hover">
  <thead>
    <th>Datetime</th>
    <th>Consumption</th>
  </thead>
  <tbody>
  {% for electricity in electricity_list %}
    <tr>
      <td>{{electricity.datetime}}</td>
      <td>{{electricity.consumption}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}