{% extends 'generics/base.html' %}

{% block title %}Summary{% endblock %}

{% block chart %}
{% load chartit %}
{{ chart|load_charts:"container" }}
{% endblock %}

{% block content %}

<div id='container'>HERE.</div>
<table>
  <thead>
    <th>ID</th>
    <th>Area</th>
    <th>Tariff</th>
    <th>Detail</th>
  </thead>
  <tbody>
  {% for user in user_list %}
    <tr>
      <td>{{user.id}}</td>
      <td>{{user.area}}</td>
      <td>{{user.tariff}}</td>
      <td><a href="{% url 'consumption:detail' user.id %}">detail</a></td>
    </tr>
  {% endfor %}
  </tbody>

</table>

{% endblock %}